In [6]:
import pandas as pd
# csv -> comma separated value
df = pd.read_csv("Data\student.csv")
# print(df["name"]) # colume to read
# print(df[["id","name","class"]]) 
print(df.iloc[1:4,0:2]) # Slicing function

    id         name  class
0    1     John Deo   Four
1    2     Max Ruin  Three
2    3       Arnold  Three
3    4   Krish Star   Four
4    5    John Mike   Four
5    6    Alex John   Four
6    7  My John Rob  Fifth
7    8       Asruid   Five
8    9      Tes Qry    Six
9   10     Big John   Four
10  11       Ronald    Six
11  12        Recky    Six
12  13          Kty  Seven
13  14         Bigy  Seven
14  15     Tade Row   Four
15  16        Gimmy   Four
16  17        Tumyu    Six
17  18        Honny   Five
18  19        Tinny   Nine
19  20       Jackly   Nine
20  21   Babby John   Four
21  22       Reggid  Seven
22  23        Herod  Eight
23  24    Tiddy Now  Seven
24  25     Giff Tow  Seven
25  26       Crelea  Seven
26  27     Big Nose  Three
27  28    Rojj Base  Seven
28  29  Tess Played  Seven
29  30    Reppy Red    Six
30  31  Marry Toeey   Four
31  32    Binn Rott  Seven
32  33    Kenn Rein    Six
33  34     Gain Toe  Seven
34  35   Rows Noump    Six

In [12]:
import pandas as pd
data = {"id": [1,2,3,4],
        "name": [None,"logeshwari","loki","logeshwaran"],
        "age": [18,None,31,99],
        "location": ["chennai","Asgard",None,"vannarupettai"],}
df = pd.DataFrame(data)
print(df.isnull())
print(df.isnull().sum())

      id   name    age  location
0  False   True  False     False
1  False  False   True     False
2  False  False  False      True
3  False  False  False     False
id          0
name        1
age         1
location    1
dtype: int64

In [21]:
import pandas as pd
data = {"id": [1,2,3,4],
        "name": [None,"logeshwari","loki","logeshwaran"],
        "age": [18,None,31,99],
        "location": ["chennai","Asgard",None,"vannarupettai"],}
df = pd.DataFrame(data)
df["name"] = df["name"].fillna("Unidentified")
df["location"].dropna(inplace= True)
print(df)

   id          name   age       location
0   1  Unidentified  18.0        chennai
1   2    logeshwari   NaN         Asgard
2   3          loki  31.0           None
3   4   logeshwaran  99.0  vannarupettai

In [16]:
import pandas as pd
df = pd.read_csv("Student2.csv")
total_purchased = df.groupby("purchased").agg({'cus_id' : 'count'})
# name = df["name"].sort_values().values
print(df)
print(total_purchased)

    cus_id        name  gender   age   location purchased
0        1    John Deo  female  12.0      Pondy       yes
1        2    Max Ruin    male  23.0    Chennai        no
2        3         NaN    male  34.0      Pondy       yes
3        4  Krish Star  female  45.0  Caddalore       yes
4        5   John Mike  female  43.0        NaN       yes
5        6   Alex John    male  23.0    Chennai       yes
6        7         NaN    male  12.0      Pondy       yes
7        8      Asruid    male  21.0    Chennai       yes
8        9     Tes Qry    male  22.0      Pondy        no
9       10    Big John  female   NaN  Caddalore       yes
10      11      Ronald  female  65.0  Caddalore       yes
11      12       Recky  female  22.0        NaN       yes
12      13         Kty  female  34.0    Chennai       yes
13      14        Bigy  female  14.0      Pondy       yes
14      15    Tade Row    male  16.0    Chennai        no
15      16       Gimmy    male  12.0      Pondy       yes
16      17       Tumyu    male  75.0        NaN       yes
17      18       Honny    male  85.0  Caddalore       yes
18      19       Tinny    male  55.0        NaN        no
           cus_id
purchased
no              4
yes            15

In [4]:
import pandas as pd
df = pd.read_csv("Student2.csv")
df.fillna(df["age"].mean(), inplace=True)
print(df)

    id         name  gender        age
0    1     John Deo  female  12.000000
1    2     Max Ruin    male  23.000000
2    3       Arnold    male  34.000000
3    4   Krish Star  female  45.000000
4    5    John Mike  female  43.000000
5    6    Alex John    male  23.000000
6    7  My John Rob    male  12.000000
7    8       Asruid    male  21.000000
8    9      Tes Qry    male  22.000000
9   10     Big John  female  34.055556
10  11       Ronald  female  65.000000
11  12        Recky  female  22.000000
12  13          Kty  female  34.000000
13  14         Bigy  female  14.000000
14  15     Tade Row    male  16.000000
15  16        Gimmy    male  12.000000
16  17        Tumyu    male  75.000000
17  18        Honny    male  85.000000
18  19        Tinny    male  55.000000

In [14]:
import pandas as pd
df1 = pd.read_csv("data_1.csv")
df2 = pd.read_csv("data_2.csv")
merge_df = pd.merge(df1,df2,on="user_id")
print("----------------------------------")
print(merge_df)
print("----------------------------------")

----------------------------------
   user_id    sports      movie
0        1  baseball     Avatar
1        3   cricket  Prisoners
2        4    hockey  Inception
----------------------------------

In [22]:
merge_df = pd.merge(df1,df2,on="user_id")
print("----------------------------------\n",merge_df)
merge_df = pd.merge(df1,df2,on="user_id", how='left')
print("----------------------------------\n",merge_df)
merge_df = pd.merge(df1,df2,on="user_id", how= 'right')
print("----------------------------------\n",merge_df)
merge_df = pd.merge(df1,df2,on="user_id",how='outer')
print("----------------------------------\n",merge_df)

----------------------------------
    user_id    sports      movie
0        1  baseball     Avatar
1        3   cricket  Prisoners
2        4    hockey  Inception
----------------------------------
    user_id    sports      movie
0        1  baseball     Avatar
1        2  football        NaN
2        3   cricket  Prisoners
3        4    hockey  Inception
----------------------------------
    user_id    sports      movie
0        1  baseball     Avatar
1        3   cricket  Prisoners
2        4    hockey  Inception
3        5       NaN     Raayan
----------------------------------
    user_id    sports      movie
0        1  baseball     Avatar
1        2  football        NaN
2        3   cricket  Prisoners
3        4    hockey  Inception
4        5       NaN     Raayan